/* ~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~ */
.app {
  min-height: 100vh;
  direction: rtl;
  overflow: hidden;
}

.pageContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
}

.page {
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FEC627;
}

#backgroundLogo {
  position: fixed;
  height: 200%;
  top: -15vh;
  z-index: 1;
  opacity: 0.3;
}

/* ~~~~ scrollbar ~~~~ */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #efefef; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #b3b3b3; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

/* ~~~~~~~~~~~~~~ BARS ~~~~~~~~~~~~~~ */
.navbar {
  position: relative;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  background-color: #7F7F7F;
  box-shadow: 0 5px 5px 0px;
}

#navbarLogo {
  height: calc(10vh - 15px);
  border-radius: 50%;
}

.sidebar {
  position: relative;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 900;
  background-color: #b3b3b3;
}

.bar a {
  color: white;
  text-decoration: none;
}

.bar a:hover {
  color: black;
  text-decoration: underline;
}

/* ~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~ */
.homePage {
  width: 80vw;
  min-height: 90vh;
  max-height: 90vh;
  position: relative;
  z-index: 2;
}

.homeStrip {
  width: 30vw;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  bottom: 6vh;
  right: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  /* background-color: #FEC627; */
  transform: rotate(-5deg);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.homeStrip::-webkit-scrollbar {
  display: none;
}

.homeImage {
  width: 30vw;
  max-height: 100%;
  /* position: relative;
  top: -10vw; */
}

.homeTorn {
  position: absolute;
  z-index: 5;
}

#homeTornFirst {
  top: 28.8vw;
}

#homeTornSecond {
  top: 40.2vw;
}

#homeTornThird {
  top: 56.2vw;
}

#homeTornFourth {
  top: 66.3vw;
}

.homeStripTextContainer {
  margin: 0.1em 0 0.3em;
  /* position: relative;
  top: -10vw; */
  background-image: linear-gradient(#FEC627, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, #FEC627);
}

.homeStripText {
  text-align: center;
  /* color: white; */
  /* position: relative;
  top: -10vw; */
  margin: 0.15em auto;
}

.homeStripTextContainer h1 {
  font-size: 2.06vw;
}

.homeStripTextContainer h2 {
  font-size: 1.545vw;
}

.homeStripTextContainer h3 {
  font-size: 1.21vw;
}

/* ~~~~~~~~~~~~~~ SIGNIN ~~~~~~~~~~~~~~ */
.signsContainer {
  position: relative;
  z-index: 2;
}

/* ~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~ */
.aboutPage {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 2;
}

.aboutHeader {
  margin: 2em;
  text-align: center;
  color: white;
}

.aboutRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.aboutParagraph {
  width: 60%;
  font-style: italic;
}

.aboutImage {
  height: 150px;
  max-width: 40%;
}

/* ~~~~~~~~~~~~~~ USER ~~~~~~~~~~~~~~ */
.userPage {
  position: relative;
  z-index: 2;
}

/* ~~~~~~~~~~~~~~ SCHEDULER ~~~~~~~~~~~~~~ */
.calendarContainer {
  height: 70vh;
  width: 72vw;
  display: flex;
  text-align: center;
  z-index: 2;
  background-color: white;
}

.calendarDates {
  width: 42vw;
  height: 8.78vh;
  max-height: 8.78vh;
  display: grid;
  grid-template-columns: 5vw 5px repeat(6, 1fr) 10px;
  grid-template-rows: 1fr;
}

.calendarToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendarMonths {
  margin: auto;
}

.calendarButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calendarHeaderDay {
  margin: 0.3em 0 0.15em;
}

.calendarBody {
  width: 42vw;
  max-height: calc(70vh - 8.78vh);
  display: grid;
  grid-template-columns: 5vw 5px repeat(6, 1fr);
  grid-template-rows: repeat(48, 35px);
  overflow-y: auto;
}

.calendarHour {
  position: relative;
  top: -0.7em;
  left: 0.5em;
  font-size: small;
  text-align: left;
}

.tilePreview {
  margin: 0.2em 0;
}

p.tilePreview {
  font-size: 0.85em;
}

/* ~~~~~~~~~~~~~~ BOOKFORM ~~~~~~~~~~~~~~ */
.bookFormContainer {
  width: calc(28vw - 2px);
  top: 25vh;
  right: 45vw;
  padding: 1vw;
  border: 1px solid black;
  direction: rtl;
  text-align: right;
  z-index: 100;
  background-color: gray;
}

.bookForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.formLabel {
  display: inline-block;
  margin-bottom: 2px;
}

.fullInput {
  width: 100%;
  padding: 2px 0;
  border: 0;
  border-radius: 2px;
}

.longInput {
  width: calc(100% - 4px);
  padding: 2px;
  border: 0;
  border-radius: 2px;
}

.halfInput {
  width: calc(50% - 8px);
  padding: 2px;
  border: 0;
  border-radius: 2px;
}

.halfInputContainer {
  width: calc(50% - 4px);
}

.timeInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#notes {
  height: 5em;
  resize: none;
}

.bookForm input:disabled {
  background-color: #b3b3b3;
  opacity: 1;
}

.bookForm select:disabled {
  background-color: #b3b3b3;
  opacity: 1;
}

.bookFormButtons {
  width: calc(28vw - 2px);
  display: flex;
  justify-content: space-between;
}

.error {
  margin-top: 0.25em;
  font-size: small;
}

.error:before {
  content: "❌ ";
  font-size: x-small;
}

/* ~~~~ custom checkbox ~~~~ */
.checkbox {
  display: block;
  position: relative;
  padding-right: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.25em;
  right: 0;
  height: 1em;
  width: 1em;
  background-color: white;
}

.checkbox:hover input ~ .checkmark {
  background-color: #FEC627;
}

.checkbox input:checked ~ .checkmark {
  background-color: #FEC627;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  right: 0.29em;
  width: 0.2em;
  height: 0.65em;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* ~~~~ tooltip ~~~~ */
.tooltip {
  width: 1.3em;
  height: 1.3em;
  margin-right: 1em;
  position: relative;
  display: inline-block;
  font-size: x-small;
  text-align: center;
  border-radius: 50%;
  background-color: #b3b3b3;
  color: black;
}

.tooltiptext {
  width: 120px;
  position: absolute;
  visibility: hidden;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: black;
  color: white;
  z-index: 150;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
