/* ~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~ */
.app {
  min-height: 100vh;
  direction: rtl;
}

.pageContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
}

.page {
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FEC627;
}

#backgroundLogo {
  position: fixed;
  height: 200%;
  right: 12vw;
  top: -20vh;
  z-index: 1;
  opacity: 0.3;
}

/* ~~~~~~~~~~~~~~ BARS ~~~~~~~~~~~~~~ */
.navbar {
  position: relative;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  background-color: #7F7F7F;
  box-shadow: 0 5px 5px 0px;
}

#navbarLogo {
  height: calc(10vh - 15px);
  border-radius: 50%;
}

.sidebar {
  position: relative;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 900;
  background-color: #b3b3b3;
}

.bar a {
  color: white;
  text-decoration: none;
}

.bar a:hover {
  color: black;
  text-decoration: underline;
}

/* ~~~~~~~~~~~~~~ SIGNIN ~~~~~~~~~~~~~~ */
.signsContainer {
  position: relative;
  z-index: 2;
}

/* ~~~~~~~~~~~~~~ ABOUT ~~~~~~~~~~~~~~ */
.aboutPage {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 2;
}

.aboutHeader {
  margin: 2em;
  text-align: center;
  color: white;
}

.aboutRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.aboutParagraph {
  width: 60%;
  font-style: italic;
}

.aboutImage {
  height: 150px;
  max-width: 40%;
}

/* ~~~~~~~~~~~~~~ USER ~~~~~~~~~~~~~~ */
.userPage {
  position: relative;
  z-index: 2;
}

/* ~~~~~~~~~~~~~~ SCHEDULER ~~~~~~~~~~~~~~ */
.calendarContainer {
  height: 70vh;
  width: 72vw;
  text-align: center;
  z-index: 2;
  background-color: white;
}

.calendarDates {
  display: grid;
  grid-template-columns: 10% 5px repeat(6, 1fr) 17px;
  grid-template-rows: 1fr;
  width: 100%;
}

.calendarToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendarMonths {
  margin: auto;
}

.calendarButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calendarHeaderDay {
  margin: 0.3em 0 0.15em;
}

.calendarBody {
  width: 100%;
  max-height: calc(70vh - 60px);
  display: grid;
  grid-template-columns: 10% 5px repeat(6, 1fr);
  grid-template-rows: repeat(48, 35px);
  overflow-y: auto;
}

.calendarHour {
  position: relative;
  top: -0.7em;
  left: 0.5em;
  font-size: small;
  text-align: left;
}

.tilePreview {
  margin: 0.2em 0;
}

p.tilePreview {
  font-size: 0.85em;
}

/* ~~~~~~~~~~~~~~ BOOKFORM ~~~~~~~~~~~~~~ */
.bookFormContainer {
  width: 30vw;
  min-height: 25vh;
  position: fixed;
  top: 25vh;
  right: 45vw;
  padding: 1em;
  border: thin solid black;
  direction: rtl;
  text-align: right;
  z-index: 100;
  background-color: gray;
}

.bookForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.formLabel {
  margin-bottom: 2px;
}

.fullInput {
  width: 100%;
}

.longInput {
  width: calc(100% - 1em);
  max-width: calc(100% - 1em);
}

.halfInput {
  width: 14vw;
}

.timeInputs {
  display: flex;
  flex-direction: row;
}